catalogs/espanol.ct working-tree-encoding=ISO-8859-1
catalogs/francais.ct working-tree-encoding=ISO-8859-1
catalogs/portugues.ct working-tree-encoding=ISO-8859-1
catalogs/deutsch.ct working-tree-encoding=ISO-8859-1